h1 {
    font-family: "Lobster";
    sans-serif;
    text-align: center;
}


.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 35%;
    max-height: 35%;
    padding-bottom: 1em;

}


.column {
    flex: 30%;
    padding 5px;
}

.container {
    display: flex;
    max-width: 3200px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;

}


}

.foodTitle {
    font-style: normal;
    font-size: 16px;
    letter-spacing: .03em;
    line-height: 1em;
}

.mainContent {
    box-sizing: border-box;
    padding: 10px 5px;
}

.foodPicture {
    display: flex;
    height: 125px;
    margin-bottom: 5px;
    padding-bottom: 25px;
}


div.foodPicture {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

img.mainPictures {
    width: 100px;
    height: 100px;
    background-color: grey;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.caption {
    display: block;
    color: #001219;
    font-weight: 400;
    font-family: Bebas Neue;
    sans-serif;
}