@media (max-width: 3200px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2%;

    }


    h1 {
        font-family: "Lobster";
        sans-serif;
        text-align: center;
    }


    .displayed {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 35%;
        max-height: 35%;
        padding-bottom: 1em;

    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2%;

    }

    .img-container img {
        width: 100%;
        object-fit: cover;
        display: block;
        max-width: 100%;
        height: auto;
        float: left;
        min-width: 33%;

    }


}

.foodTitle {
    font-style: normal;
    font-size: 16px;
    letter-spacing: .03em;
    line-height: 1em;
}

.mainContent {
    padding: 10px 5px;
    height: 450px;
    max-width: 100%;
}


div.foodPicture {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    float: left;
    min-width: 33%;
    height: auto;
    width: 100%;
}

img.mainPictures {
    background-color: grey;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    float: left;
    min-width: 33%;
    height: auto;

}

.caption {
    display: block;
    color: #001219;
    font-weight: 400;
    font-family: Bebas Neue;
    sans-serif;
    margin-top: 5px;
}

#oats {
    height:
}